*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color:hsl(240, 73%, 65%);
}

.container{
  width:1000px;
  height: 600px;
  background-color: white;
  position: relative;
  top: 100px;
  border-radius: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}




.img-content{
  width: 50%;
  background-image: url("images/bg-pattern-desktop.svg ");
  background-repeat: no-repeat;
  background-size:cover  ;
  position: relative;
}

  
.img-content :nth-child(1){
  position: absolute;
  top: -50px;
  left: -90px;
  z-index: 3;
}


.img-content :nth-child(2){
  position: absolute;
  top:  -180px;
  left: -50px;
  z-index: 2;
}





.text-content{
  width: 50%;
  padding:0 40px;
  margin-bottom:10px ;
}

  .text-content h5{
 
  font-weight: lighter;
  font-size: 16px;
  cursor: pointer;
 
}

.text-content h5:hover{
  cursor: pointer;
  color:orange ;
}



.text-content p {
  padding-bottom:  10px ;
  
  color: gray;
  font-size: 12px;
  opacity: 0;
  display: none;
 transition: all 10s ease-in-out;
}


.text-content .content{
  border-bottom: 0.3px dotted black;
  margin-right: 70px;
  margin-top: 20px;
}


.text-content .flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}


.text-content img {
  margin: 0 10px;
  cursor: pointer;
}

.text-content .is-active{
  opacity: 1;
  display: block;
 
}
 .text-content .larger{
  font-size: 16px;
  font-weight: bold;
  
}



